arize-phoenix-otel==0.6.1
llama-index==0.11.16
llama-index-core==0.11.16
llama-index-embeddings-gemini==0.2.0
llama-index-llms-mistralai==0.2.5
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.4.0
pydantic_core==2.23.4