chroma-hnswlib==0.7.3
chromadb==0.5.3
langchain==0.3.1
langchain-chroma==0.1.4
langchain-community==0.3.1
langchain-core==0.3.6
langchain-text-splitters==0.3.0
langchain-experimental==0.3.2
langchain-google-genai==2.0.0
langchain-mistralai==0.2.0
langchain-openai==0.2.3
langgraph==0.2.45
langgraph-checkpoint==2.0.2
langgraph-cli==0.1.53
langgraph-sdk==0.1.35
python-dotenv==1.0.1
pydantic==2.9.2
pydantic-settings==2.4.0
pydantic_core==2.23.4